<h1 class="text-3xl">Precios de la aplicación</h1>
<hr class="my-2" />
<section>
  <p class="mb-4">
    Aute eiusmod cupidatat elit anim minim tempor sint cupidatat ipsum cillum
    tempor adipisicing consectetur. Excepteur quis duis velit culpa. Esse ex
    adipisicing esse dolore magna deserunt quis commodo reprehenderit. Ex ex
    laborum eiusmod fugiat qui eiusmod deserunt excepteur aute est minim. Tempor
    Lorem ipsum ut minim proident ullamco non Lorem ullamco ipsum consectetur
    aliqua quis anim. Enim incididunt minim magna nostrud commodo voluptate ea
    quis consectetur irure cillum. Labore duis culpa reprehenderit ullamco
    officia proident amet ea nulla eiusmod ullamco veniam. Veniam mollit
    deserunt commodo Lorem veniam in enim voluptate non consequat proident. Elit
    esse sit ipsum nisi proident ipsum excepteur enim irure dolor aliquip
    laborum. Fugiat mollit aute officia tempor esse voluptate officia sunt.
    Pariatur sunt sint sunt aliqua voluptate ipsum velit sint aute Lorem
    pariatur aliqua deserunt cillum. Id fugiat officia nostrud magna consequat
    pariatur excepteur occaecat do ad. Velit cupidatat sint ad eu dolore dolor
    cupidatat amet est eu minim cillum. Commodo elit aliquip dolor nulla
    voluptate reprehenderit adipisicing adipisicing ea aute ullamco cillum. Quis
    esse labore ullamco nulla ea aliqua dolore amet laborum eu ipsum pariatur.
    Labore non excepteur ad cupidatat minim eiusmod eiusmod ipsum deserunt
    tempor quis ea quis cupidatat. Commodo nostrud qui magna non id anim cillum
    ad. Eiusmod do irure laborum mollit culpa ullamco tempor ut ad sunt.
  </p>
</section>
