<h1 class="text-3xl">Sobre la aplicación</h1>
<hr class="my-2" />
<section>
  <p class="mb-4">
    Sunt cillum sint laboris consectetur nulla veniam nulla. Ad dolor laboris
    exercitation non aute commodo reprehenderit. Voluptate Lorem pariatur
    consequat in qui adipisicing duis laboris excepteur. Labore reprehenderit
    aliquip ea fugiat adipisicing fugiat Lorem. Elit amet elit sint voluptate
    fugiat irure aute qui cillum. Nisi pariatur minim amet labore fugiat est
    proident sunt exercitation. Proident aliqua amet cupidatat ut veniam cillum
    est minim fugiat. Aliquip aliqua aliqua laborum ea et labore officia
    occaecat. Ad enim do ut fugiat quis incididunt ad. Minim non elit sit
    reprehenderit. Anim duis ipsum voluptate commodo labore eu dolor id
    incididunt veniam. Do Lorem officia irure non sit. Dolore irure cillum nisi
    nulla nulla amet. Reprehenderit exercitation in aliqua nisi irure dolor.
    Proident aute enim aliqua consectetur occaecat consectetur elit culpa
    exercitation minim consequat ea dolor. Incididunt consequat et consequat
    nostrud dolor ad aliquip dolor laboris exercitation est cillum nisi
    deserunt. Ipsum incididunt irure eu fugiat Lorem elit labore amet. Esse sit
    nostrud est amet. Tempor velit labore amet do velit velit eu velit. Mollit
    mollit Lorem laboris officia deserunt exercitation nostrud in amet sint duis
    commodo. Ipsum ex ad id dolor pariatur ex sint adipisicing aliqua magna ex
    pariatur. Aliqua officia pariatur eiusmod magna voluptate magna
    reprehenderit ad magna laborum officia aute dolor.
  </p>
</section>
